{% extends 'layout.html'%}

{%block body%}
    <br><br><br><br><br><br><br>
    <div class="container">
        <div class="neon">TOP TEN</div>
        <div class="flux">Movies</div>
    </div>
        
    <br>
    <div class='backbox'>   
        
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV01.jpg') }}"></a></span>
	    <span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV02.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV03.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV04.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV05.jpg') }}"></a></span>
		<br/>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV06.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV07.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV08.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV09.jpg') }}"></a></span>
		<span class="zoom"><a href='code'><img src="{{ url_for('static', filename='pic/MV10.jpg') }}"></a></span>
    </div>




{%endblock%}